# Secretsgi
ufo/Config.xcconfig

# Pliki systemowe Maca
.DS_Store

# Pliki tymczasowe Xcode
build/
supabase/
DerivedData/
*.xcuserstate
ufo.xcodeproj/xcuserdata/
ufo.xcodeproj/project.xcworkspace/

# Internal documentation
docs/
ufo/iPadOS/IPADOS_GUIDE.md
ufo/*OS/Features/*_FEATURES_GUIDE.md
